body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 47, 255, 0.61);
  background-image: url('logback.jpg') rgba(0, 47, 255, 0.61);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin-bottom: 20px;
}

.container {
  padding: 20px;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Center the content in the header and main sections */
header, main {
  text-align: center;
}

/* Style for sections within main */
main section {
  max-width: 800px; /* Set a maximum width for better readability on larger screens */
  margin: 0 auto;   /* Center the section horizontally */
  padding: 20px;    /* Add padding for better spacing */
}



