/* style.css */

/* Body and general styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffA500;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }
 
 .header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
 }
 /* style.css */

/* Example style for headings */
h1 {
  color: #1abc9c;
  text-align: center; /* Center the headings */
}

/* Example style for paragraphs */
p {
  color: #333;
}

/* Example style for lists */
ul {
  list-style-type: none;
}

/* Additional styles for the navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s; /* Add transition for smooth color change */
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #555; /* Change the background color on hover */
  color: black;
}



 
 
 /* Content and footer styling */
 .content {
  flex: 1;
  padding: 20px;
 }
 
 .footer {
  background-color: #3498db; /* Contrasting color for the footer */
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
 }
 
 /* Style the Terms of Service link in the footer */
 .terms-link {
  color: white;
  text-decoration: none; /* Remove underline */
 }
 
 /* Hover effect for the Terms of Service link */
 .terms-link:hover {
  text-decoration: underline;
 }
 
 /* Center-align the content */
 main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }
 
 section {
  max-width: 600px; /* Set a maximum width for better readability */
  margin-bottom: 20px; /* Add some space between sections */
 }
 
 form {
  max-width: 400px;
  margin: 20px auto;
 }
 
 .container{
  flex: 1;
 }
 
 
 